*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App, body {
  background-color: #f2f2f2;
}

.logo {
  background-color: #b3b3b3;
  color: #ffffff;
  height: 120px;
  width: 120px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 200px;
}

.search {
  padding: 5px;
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-right: 180px;
  position: relative;
}

.search [type="search"] {
  padding: 5px;
}

.search .filter-btn {
  background-color: #ffffff;
  border: 1px solid #00aeef;
  padding: 2px 7px;
}

.filters {
  position: absolute;
  background-color: #ffffff;
  border: 4px solid #d1d3d4;
  padding: 20px;
  top: 45px;
  z-index: 10;
}

.filter-head {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 5px;
}

.filter-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5px;
  gap: 20px;
}

.tbl-wrapper {
  display: grid;
  place-content: center;
  margin-top: 5px;
}

.tbl-layout {
  background-color: #ffffff;
  border: 4px solid #9b9b9c;
  height: 530px;
  width: 1200px;
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 75px;
}

.table {
  position: relative;
  background-color: #e6e6e6;
  border: 2px solid #ffffff;
  height: 150px;
  width: 250px;
  display: grid;
  place-content: center;
}

.chair-wrapper {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 145px;
  column-gap: 100px;
  left: 42px;
  top: -30px;
}

.chair-wrapper :nth-child(1), .chair-wrapper :nth-child(2) {
  border-radius: 30px 30px 0 0;
}

.chair-wrapper :nth-child(3), .chair-wrapper :nth-child(4) {
  border-radius: 0 0 30px 30px;
}

.chair {
  background-color: #d1d3d4;
  height: 30px;
  width: 30px;
  position: relative;
}

.chair.unoccupied {
  background-color: #d1d3d4;
}

.occupied {
  background-color: #3c2415;
}

.found {
  background-color: #00aeef;
}

.chair-details {
  display: none;
}

.about {
  display: flex;
  align-items: center;
  gap: 5px;
}


.chair:hover .chair-details {
  display: grid;
  position: absolute;
  grid-template-rows: repeat(3, 1fr);
  background-color: #ffffff;
  border: 4px solid #d1d3d4;
  border-radius: 0;
  padding: 20px 100px 20px 20px;
  z-index: 10;
}

.chair.unoccupied:hover .chair-details {
  display: none;
}